@model Shortchase.Dtos.ForgotPwdDto
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="page login-page">
    <div class="container">
        <div class="form-inner">
            <p>Submit your email below, a new code will be sent to you</p>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">E-mail</label>
                    <input asp-for="Email" id="ForgotPasswordEmailValue" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group-material text-center">
                    <button type="button" class="btn btn-info btn-block" id="FPSendEmailBtn">Send Email</button>
                </div>
                <hr />
                <p style="margin-bottom: 15px;">Enter the provided code to proceed</p>
                <div class="form-group">
                    <label for="ConfirmationCode" class="label-material">Confirmation Code</label>
                    <input id="ConfirmationCode" type="text" class="form-control" name="ConfirmationCode" />
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input id="confirmCode" type="submit" value="Confirm" class="btn btn-primary btn-block">
                </div>
            </form>
            <small><a asp-action="Login" asp-controller="Account" class="timezoneoffset">Back to Log In</a></small>
        </div>
    </div>
</div>
<input hidden id="ForgotPasswordEmailUrl" value="@Url.Action("ForgotPasswordEmail", "Account")" />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="@Url.Content("~/app/Account/ForgotPassword.js")" asp-append-version="true"></script>
}