@{
    ViewBag.Title = "Locked";
}

<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo">
                    <span class="text-danger">Your Account Has Been Suspended</span>
                    <span style="font-size: 0.7em;">Please Contact our Support</span>
                </div>
                <a asp-action="LogOff" asp-controller="Account">Log off</a>
            </div>
        </div>
    </div>
</div>