
<section id="forCappersAndBettorsSectionWrapper">
    <div class="container extended-container">
        <div class="row">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-8 " style="margin-top:70px;">
                <div id="forCappersAndBettorsSwitchSticky">
                    <div class="row">

                        <div class="col-sm-12 col-md-3"></div>
                        <div class="col-sm-12 col-md-6" id="forCappersAndBettorsSwitch">
                            <div>

                                <div class="row pt-3">
                                    <div class="col-6 text-right forCappersAndBettorsSwitchText forCappersAndBettorsSwitchTextActive" id="forCappersSwitchActivator">
                                        For Cappers
                                    </div>
                                    <div class="col-6 text-left forCappersAndBettorsSwitchText" id="forBettorsSwitchActivator">
                                        For Bettors
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3"></div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2"></div>

        </div>
        <div class="mt-5">
            <div class="row ">
                
                <div class="col-sm-12 col-md-6">
                    <div id="ForCarpers" >
                        <h5 class="forCappersAndBettorsTitle ">
                            <span>
                                <img src="~/img/potd/tick.png" height="25" width="25" style="margin-right:15px" />
                            </span>
                            Build Your Rep
                        </h5>
                        <p class="forCappersAndBettorsText">
                            Boost your rating and promote yourself by accumulating points when you have 100% betting prediction accuracy.
                        </p>

                        <h5 class="forCappersAndBettorsTitle">
                            <span>
                                <img src="~/img/potd/tick.png" height="25" width="25" style="margin-right:15px" />
                            </span>
                            Make Extra Income
                        </h5>
                        <p class="forCappersAndBettorsText">
                            List your betting predictions, tips and odds daily and cash in on each picks bought from you by bettors.
                        </p>
                        <h5 class="forCappersAndBettorsTitle ">
                            <span>
                                <img src="~/img/potd/tick.png" height="25" width="25" style="margin-right:15px" />
                            </span>
                            Get Subscription Discount
                        </h5>
                        <p class="forCappersAndBettorsText">
                            Earn enough points to qualify for ShortchasePro subscription discount when you consistently predict Pick of the Day (POTD) correctly.
                        </p>
                    </div>
                    <div id="ForBettors" style="display:none">
                        <h5 class="forCappersAndBettorsTitle ">
                            <span>
                                <img src="~/img/potd/tick.png" height="25" width="25" style="margin-right:15px" />
                            </span>
                            Tell Who’s Hot
                        </h5>
                        <p class="forCappersAndBettorsText ">
                            Fade the handicapper who isn’t hot and buy picks from those who knows how best to beat the odds.
                        </p>

                        <h5 class="forCappersAndBettorsTitle">
                            <span>
                                <img src="~/img/potd/tick.png" height="25" width="25" style="margin-right:15px" />
                            </span>
                            Follow Your Favorite Handicappers
                        </h5>
                        <p class="forCappersAndBettorsText ">
                            Receive instant updates when a pick is listed by your favorite handicapper and get in on the action immediately.
                        </p>
                        <h5 class="forCappersAndBettorsTitle ">
                            <span>
                                <img src="~/img/potd/tick.png" height="25" width="25" style="margin-right:15px" />
                            </span>
                            Get Purchase Discount
                        </h5>
                        <p class="forCappersAndBettorsText ">
                            Earn enough points to qualify for discounts off your total purchase when you consistently predict Pick of the Day (POTD) correctly.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 pl-2" >
                    <img id="CarperAndBettorImage" src="~/img/potd/cappers.jpg" style="border-radius: 6px;" width="500" height="334"/>
                </div>
            </div>
        </div>
    </div>
</section>