@model AddressListDto
<!-- Edit Modal -->
@{Func<dynamic, object> EditModalContent = @<div>
        <form class="row" id="EditAddressModalForm">
            <input type="hidden" id="EditAddressId" value="0" />
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditLocationTitle" label="Location Title" type="text" class="" required="true" placeholder="e.g. Main Head Office" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditStreetAddress" label="Address" type="text" class="" required="true" placeholder="e.g. 123 Center ST North" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <vc:input id="EditCity" label="City" type="text" class="" required="true" placeholder="e.g. Calgary" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <vc:input id="EditZipCode" label="Zip Code" type="text" class="" required="true" placeholder="e.g. T2M 0Y4" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <vc:input id="EditProvince" label="State/Province" type="text" class="" required="true" placeholder="e.g. AB" value="" disabled="false"></vc:input>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <vc:select id="EditCountry" label="Country" class="" required="true" searchable="false" default="" options="@Model.Countries" selected-value="@Model.DefaultCountryId"></vc:select>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:checkbox id="EditIsPrimary" label="Primary Location" class="" required="false" checked="false"></vc:checkbox>
                <p><small class="text-muted">(Primary Location: is the location that is going to be shown above the others on the footer)</small></p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="EditModalContent" id="EditAddressModal" locked="false" title="Edit Address"></vc:modal>


<input id="EditAddressModalURL" hidden value="@Url.Action("EditAddress", "Backend")" />