@model BetListingReportListDto
<!-- View Modal -->
@{Func<dynamic, object> ViewModalContent = @<div>
        <div class="row" >
            <div class="col-sm-12 col-md-12 col-lg-12" id="ViewBetListingReportModalForm">
                
            </div>
        </div>
    </div>;}
<vc:modal content="ViewModalContent" id="ViewBetListingReportModal" locked="false" title="View Listing Report"></vc:modal>

