@model BookmakerListDto
<!-- Add Modal -->
@{Func<dynamic, object> AddModalContent = @<div>
        <form class="row" id="AddBookmakerModalForm">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="AddDescription" label="Name" type="text" class="" required="true" placeholder="e.g. Predictions 1X2" value="" disabled="false"></vc:input>
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <vc:input id="AddURL" label="Url" class="col-sm-12 col-md-12 col-lg-6" type="text"  required="true" placeholder="e.g. https://here.com" value="" disabled="false"></vc:input>
                    <vc:input id="AddImage" label="Logo" type="file" class="col-sm-12 col-md-12 col-lg-6" required="true" placeholder="" value="" disabled="false"></vc:input>

                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="AddModalContent" id="AddBookmakerModal" locked="false" title="Add Bookmaker"></vc:modal>


<input id="AddBookmakerModalURL" hidden value="@Url.Action("AddBookmaker", "Backend")" />