@model ListingSubCategoryListDto
<!-- Edit Modal -->
@{Func<dynamic, object> EditModalContent = @<div>
        <form class="row" id="EditListingSubCategoryModalForm">
            <input type="hidden" id="EditListingSubCategoryId" value="0" />
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditName" label="Name" type="text" class="" required="true" placeholder="e.g. Football" value="" disabled="false"></vc:input>
            </div>
            @*<div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditDescription" label="Description" type="text" class="" required="false" placeholder="e.g. Also called Soccer" value="" disabled="false"></vc:input>
            </div>*@
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:select id="EditCategoryId" label="Category" class="" required="true" searchable="false" default="" options="@Model.CategoriesOptions" selected-value=""></vc:select>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right pt-3">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="EditModalContent" id="EditListingSubCategoryModal" locked="false" title="Edit Listing Subcategory"></vc:modal>


<input id="EditListingSubCategoryModalURL" hidden value="@Url.Action("EditListingSubCategory", "Backend")" />