@model ListingSubCategoryListDto
<!-- Add Modal -->
@{Func<dynamic, object> AddModalContent = @<div>
        <form class="row" id="AddListingSubCategoryModalForm">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="AddName" label="Name" type="text" class="" required="true" placeholder="e.g. Football" value="" disabled="false"></vc:input>
            </div>
            @*<div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="AddDescription" label="Description" type="text" class="" required="false" placeholder="e.g. Also called Soccer" value="" disabled="false"></vc:input>
            </div>*@
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:select id="AddCategoryId" label="Category" class="" required="true" searchable="false" default="" options="@Model.CategoriesOptions" selected-value=""></vc:select>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right pt-3">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="AddModalContent" id="AddListingSubCategoryModal" locked="false" title="Add Listing Subcategory"></vc:modal>


<input id="AddListingSubCategoryModalURL" hidden value="@Url.Action("AddListingSubCategory", "Backend")" />