@model MediaFolderListDto
<!-- Edit Modal -->
@{Func<dynamic, object> EditModalContent = @<div>
        <form class="row" id="EditMediaFolderModalForm">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditName" label="Folder Name" type="text" class="" required="true" placeholder="" value="" disabled="false"></vc:input>
            </div>
           <input type="hidden" value="0" id="EditFolderId" />
            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="EditModalContent" id="EditMediaFolderModal" locked="false" title="Edit Media Folder"></vc:modal>


<input id="EditMediaFolderModalURL" hidden value="@Url.Action("EditMediaFolder", "Backend")" />