@model PaypalSettingsListDto
<!-- Edit Modal -->
@{Func<dynamic, object> EditModalContent = @<div>
        <form class="row" id="EditPaypalSettingsModalForm">
            <input type="hidden" id="EditPaypalSettingsId" value="0" />
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditName" label="Name" type="text" class="" required="true" placeholder="" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditClientID" label="Client ID" type="text" class="" required="true" placeholder="" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditSecret" label="Secret" type="text" class="" required="true" placeholder="" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:checkbox id="EditIsDefault" label="Is Default?" class="" required="false" checked="false"></vc:checkbox>
                <p><small class="text-muted">(Default settings are the settings that are going to be used throughout Shortchase app.)</small></p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="EditModalContent" id="EditPaypalSettingsModal" locked="false" title="Edit Paypal Settings"></vc:modal>


<input id="EditPaypalSettingsModalURL" hidden value="@Url.Action("EditPaypalSettings", "Backend")" />