@model POTDListingListDto
<!-- Add Modal -->
@{Func<dynamic, object> AddModalContent = @<div>
        <form class="row" id="AddPOTDListingModalForm">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="AddTitle" label="Title" type="text" class="" required="true" placeholder="e.g. ICC WORLD CUP TWENTY20 MEN:: ASIA REGION FINAL MATCH 1" value="" disabled="false"></vc:input>
            </div>
            @*<div class="col-sm-12 col-md-12 col-lg-12">
                    <vc:input id="AddDescription" label="Description" type="text" class="" required="true" placeholder="e.g. Singapore vs Qatar" value="" disabled="false"></vc:input>
                </div>*@

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="list-a-pick-form-input-wrapper">
                    <select class="" required="" id="AddCategory" name="AddCategory">
                        <option value="0" disabled selected>Select Category</option>
                        @if (Model.CategoriesOptions != null && Model.CategoriesOptions.Count > 0)
                        {
                            foreach (var item in Model.CategoriesOptions)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <input type="hidden" id="AddHasSubcategories" value="0" />
                <div class="list-a-pick-form-input-wrapper">
                    <select class="" id="AddSubCategory" name="AddSubCategory" disabled>
                        <option id="" value="0" selected>Select Subcategory</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="list-a-pick-form-input-wrapper">
                    <select class="" id="AddPick" name="AddPick" disabled>
                        <option id="" value="0" selected>Select Pick</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="list-a-pick-form-input-wrapper">
                    <select class="" id="AddMarket" name="AddMarket" disabled>
                        <option id="" value="0" selected>Select Market</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="list-a-pick-form-input-wrapper">
                    <select class="" id="AddTip" name="AddTip" disabled>
                        <option id="" value="0" selected>Select Tip</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="AddVenue" label="Venue" type="text" class="" required="true" placeholder="e.g. INDIAN ASSOCIATION GROUND, SINGAPORE" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <vc:bet-listing-date-read-only-input id="AddDateTimeStart" label="Start Time"></vc:bet-listing-date-read-only-input>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <vc:bet-listing-date-read-only-input id="AddDateTimeFinish" label="Finish Time"></vc:bet-listing-date-read-only-input>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:media-selector-button id="AddBackgroundImage" width="" height="" field-label="Background Image"></vc:media-selector-button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12"><br /></div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="AddModalContent" id="AddPOTDListingModal" locked="false" title="Add POTD Listing"></vc:modal>


<input id="AddPOTDListingModalURL" hidden value="@Url.Action("AddPOTDListing", "Backend")" />