@model HomeCategoriesDisplayData

@if (Model == null || Model.Categories == null || Model.Categories.Count <= 0)
{
<p>No categories added.</p> }
            else
            {
<div class="row d-none d-sm-none d-md-flex d-lg-flex d-xl-flex">
    @{
   
       bool showAllItems =  ViewData["ShowAllItems"].ToString() == true.ToString();
    }
    @foreach (var item in Model.Categories)
    {
     
        string bgImagePath = ViewData["root"].ToString() + item.DisplayImage;
        string imageUrl = "";
       imageUrl = ImageHelper.ConvertImageToBase64(bgImagePath);
       
        <div class="col-sm-12 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">
            
            <a data-keyword="@item.Name" data-id="@item.Id" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style="background: url(@imageUrl); ">
                    <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">
                        
                                        
                    </div>
                    <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">@item.Name</p>
                </div>
            </a>
        </div>
    }

</div>
}
