@{
    Layout = "_WebsiteLayoutWithoutJumbotron";
}
<div class="text-center headerJumbotron headerJumbotron2">
    <div class="container">
        <div class="row pb-5">
            <div class="col-sm-12 ">
                <h1 class=" mt-4 dark-text-shortchase text-shadow-big">
                    About Us
                </h1>
            </div>
            <div class="col-sm-12 pb-5 mb-5">
                <p class="pb-5 mt-2  mb-5 dark-text-shortchase text-paragraph-big MontserratMedium d-none d-sm-none d-md-none d-lg-block">
                    Shortchase is an online marketplace and handicapping service platform that connects <br />
                    handicappers with bettors to sell and buy bet listings resourcefully. We’re not a bookmaking, <br />
                    betting or online gambling company.
                </p>
                <p class="pb-5 mt-2  mb-5 dark-text-shortchase text-paragraph-big MontserratMedium d-block d-sm-block d-md-block d-lg-none">
                    Shortchase is an online marketplace and handicapping service platform that connects 
                    handicappers with bettors to sell and buy bet listings resourcefully. We’re not a bookmaking, 
                    betting or online gambling company.
                </p>
            </div>
        </div>
    </div>
</div>

<section class="bg-grey-dark-4">
    <div class="container extended-container pb-5 mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <h2 class="section-title-3 pt-5 mt-2">
                    Team Lead
                </h2>
                <p class="section-text d-none d-sm-none d-md-none d-lg-block py-4">
                    We have put together the very brightest talent to make betting and ultimately winning for you<br />
                    easy and profitable. Our unique skills conjugate to create an integrated team, committed to one<br />
                    mission - providing you with exceptional customer service and a seamless betting experience.
                </p>
                <p class="section-text d-block d-sm-block d-md-block d-lg-none py-4">
                    We have put together the very brightest talent to make betting and ultimately winning for you
                    easy and profitable. Our unique skills conjugate to create an integrated team, committed to one
                    mission - providing you with exceptional customer service and a seamless betting experience.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <div class="transparent-card py-5">
                    <img class="img-fluid" src="@Url.Content("~/img/team_babat.jpg")" />
                    <h4 class="pt-3 m-0 MontserratBold dark-text-shortchase">
                        Babat Lawrence
                    </h4>
                    <p class="light-grey-text m-0 section-text py-3">
                        Founder & CEO<br />
                        Cardiff Metropolitan University
                    </p>
                    <p class="text-small d-none d-sm-none d-md-none d-lg-block center-justified">
                        Self-starter, determined and classic entrepreneur<br />
                        and sporty-by-nature. He is responsible for <br />
                        defining Shortchase’s vision.
                    </p>
                    <p class="text-small d-block d-sm-block d-md-block d-lg-none center-justified">
                        Self-starter, determined and classic entrepreneur
                        and sporty-by-nature. He is responsible for
                        defining Shortchase’s vision.
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 text-center">
                <div class="transparent-card py-5">
                    <img class="img-fluid" src="@Url.Content("~/img/team_yinka.jpg")" />
                    <h4 class="pt-3 m-0 MontserratBold dark-text-shortchase">
                        Yinka Stephen
                    </h4>
                    <p class="light-grey-text m-0 section-text py-3">
                        Chief Operating Officer
                        <br />
                        AAUA
                    </p>
                    <p class="text-small d-none d-sm-none d-md-none d-lg-block center-justified">
                        A marketing and services launch expert with deep<br />
                        knowledge of accounting. Oversees the business<br />
                        operations of Shortchase.
                    </p>
                    <p class="text-small d-block d-sm-block d-md-block d-lg-none center-justified">
                        A marketing and services launch expert with deep 
                        knowledge of accounting. Oversees the business 
                        operations of Shortchase.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>