@{
    Layout = "_WebsiteLayout";
}
<div class="text-center ">
    <div class="container">
        <div class="row pb-5">
            <div class="col-sm-12 ">
                <h1 class=" mt-5 dark-text-shortchase text-shadow-big">
                    Email Confirmed!
                </h1>
                <p class="text-center m-0 py-5">
                    Your account is ready to be used!<br /><br />
                    <a asp-action="Index" asp-controller="Home" class="btn btn-dark btn-rounded timezoneoffset">Ok</a>
                </p>
            </div>
            
        </div>
    </div>
</div>
