@{
    Layout = "_WebsiteLayout";
}

<section class="bg-grey-dark-3 py-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3"></div>
            <div class="col-sm-12 col-md-6">
                <div class="shadow medium-rounded-corners bg-white">
                    <div class="bg-yellow-light py-3 px-3 d-flex flex-row align-items-center">

                        <p class="m-0 MontserratMedium py-2 flex-95">
                            We'll send you a new password
                        </p>
                        <a asp-action="Index" asp-controller="Home" class="text-dark flex-5 timezoneoffset"><i class="fas fa-times"></i></a>
                    </div>
                    <form class="bg-white px-3 py-3" id="ResetPasswordForm">

                        <div class="form-group py-2">
                            <label for="PwdRecoveryEmail" class="text-smaller">Email</label>
                            <input type="email" class="form-control text-small" id="PwdRecoveryEmail" placeholder="Enter your email here">
                        </div>
                        <button type="submit" class=" btn btn-warning text-smaller text-white bg-orange-dark border-orange-dark border-bottom-orange-dark-thicker px-4 timezoneoffset">Next</button>
                        <a asp-action="Index" asp-controller="Home" class="text-grey-2 btn btn-link float-right text-smaller timezoneoffset">Cancel</a>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-3"></div>
        </div>

    </div>
</section>


<input id="ResetUserPasswordURL" hidden value="@Url.Action("ResetUserPassword", "Home")" />
<input id="ResetUserPasswordRedirectURL" hidden value="@Url.Action("Index", "Home")" />

@section Scripts{
    <script src="@Url.Content("~/app/Home/ResetPassword.js")" asp-append-version="true"></script>
}