
@{
    Layout = "_WebsiteLayout";
 }
    <section id="CategoriesSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-title mt-4">
                        Popular Categories
                    </h2>
                    <p class="py-2 section-sub-title">
                        Explore thousands of betting predictions, tips and odds.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-1"></div>
                <div class="col-sm-12 col-md-12 col-lg-10 pb-5">


                    <vc:home-top-ranking-categroies show-all-items="false"></vc:home-top-ranking-categroies>
                   
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1"></div>
            </div>
        </div>
    </section>