<div class="custom-file d-block">
    <input type="file" class="custom-file-input" hidden id="@ViewData["Id"]">
    <label class="custom-file-label no-label-file-input btn no-borders text-smaller clickable d-block @ViewData["Class"]" for="@ViewData["Id"]">
        <span id="Label-@ViewData["Id"]" class="MontserratBold">@ViewData["Label"]</span>
    </label>
</div>