<!-- Footer -->
<footer class="footer py-2">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                @*@DateTime.Now.Year &copy; Shortchase, Inc <br />*@
                @*<small>Developed by <a href="https://calibreconsulting.ca" class="font-weight-bold ml-1" target="_blank">Calibre Consulting</a></small>*@
            </div>
        </div>
        <div class="col-xl-6">
            @*<ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                    <a href="https://shortchase.com" class="nav-link" target="_blank">Back to Shortchase.com</a>
                </li>
            </ul>*@
        </div>
    </div>
</footer>

<input id="LogoutURL" hidden value="@Url.Action("LogOut", "Account")" />