
<div id="FullPageLoader" class="align-content-center align-items-center d-none justify-content-center lds-css ng-scope position-absolute flex-100 h-100">
    @*<div class="fp-loader-backdrop"></div>
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>*@
</div>