
<div id="ShortchaseToastWrapper" style="display:none;">
    <div class="container">
        <div class="row" id="ShortchaseToastWrapperBody">
            <div class="col-11 px-0">
                <p class="m-0 py-2 text-center text-white" id="ShortchaseToastBody">

                    Hello, world! This is a toast message.
                </p>
            </div>
            <div class="col-1 text-right px-2">
                <p class="m-0 py-2" id="">

                    <button type="button" class="btn btn-link p-0 m-0 CloseShortchaseToast">
                        <i class="fas fa-times"></i>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="ShortchaseDangerToastWrapper" style="display:none;">
    <div class="container">
        <div class="row" id="ShortchaseDangerToastWrapperBody">
            <div class="col-11 px-0">
                <p class="m-0 py-2 text-center text-white MontserratBold" id="ShortchaseDangerToastBody">

                    Hello, world! This is a toast message.
                </p>
            </div>
            <div class="col-1 text-right px-2">
                <p class="m-0 py-2" id="">

                    <button type="button" class="btn btn-link p-0 m-0 CloseDangerShortchaseToast">
                        <i class="fas fa-times"></i>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<vc:website-header></vc:website-header>