
<ul class="navbar-nav ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="@Url.Content("~/img/dog.jpg")" width="40px" class="img-fluid rounded-circle" /> Hello @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item bg-orange-dark-on-hover" href="#">Switch to Capper</a>
            <a class="dropdown-item bg-orange-dark-on-hover" href="#">Switch to Bettor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item bg-orange-dark-on-hover" href="#">Account Manager</a>
            <a class="dropdown-item bg-orange-dark-on-hover" href="#">Order Manager</a>
            <a class="dropdown-item bg-orange-dark-on-hover CallLogOutAction" href="#">Log Out</a>
        </div>
    </li>
</ul>
