<div class="list-a-pick-form-input-wrapper list-a-pick-form-input-wrapper-datepicker">
    <label class="text-left">
        <span class="MontserratBold text-small text-dark-1 mb-0 text-smaller pl-1 font-weight-600">@ViewData["Label"]</span>
        <input class="" type="datetime-local" id="@ViewData["Id"]" name="@ViewData["Id"]">
    </label>
</div>